<div class="table-footer">
    <span class="showEntries">
        <%= (page - 1) * limit + 1 %>-
        <%= page == totalPage ? totalRow : (page) * limit %> trên
        <%= totalRow %>
    </span>
    <div class="pagination">
        <% if (page != 1) { %>
        <% if (searchKey) { %><a
            href="?page=<%= page > 2 ? page - 1 : 1 %>&searchKey=<%= searchKey %>"><span class="material-symbols-rounded">
                chevron_left
                </span></a>
        <% } else { %><a
            href="?page=<%= page > 2 ? page - 1 : 1 %>"><span class="material-symbols-rounded">
                chevron_left
                </span></a>


        
        <% } %>
        
        <% } %>
        <% for (i = 1; i <= totalPage; i++) { %>
        <% if (searchKey) { %><a
            href="?page=<%= i %>&searchKey=<%= searchKey %>"
            class="<%= page == i ? 'active' : '' %>">
            <%= i %>
        </a>
        <% } else { %><a href="?page=<%= i %>"
            class="<%= page == i ? 'active' : '' %>">
            <%= i %>
        </a>

        
        <% } %>
        
        <% } %>
        <% if (page != totalPage) { %>
        <% if (searchKey) { %><a
            href="?page=<%= page < totalPage ? page + 1 : totalPage %>&searchKey=<%= searchKey %>"><span class="material-symbols-rounded">
                chevron_right
                </span></a>
        <% } else { %><a
            href="?page=<%= page < totalPage ? page + 1 : totalPage %>"><span class="material-symbols-rounded">
                chevron_right
                </span></a>
        
        <% } %>
        
        <% } %>
    </div>