<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/pages/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <title>Tech Two.</title>
</head>

<body> 
    <%- include('../partials/header') %>

    <main class="content-container">
        <%- include('../components/slider') %>

        <%- include('../components/product-catalog') %>

    </main>

    <%- include('../components/scrollup') %>
    <%- include('../partials/footer') %>

    <script src="/scripts/slider.js"></script>
    <script src="/scripts/scrollup.js"></script>
</body>

</html>