<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<link rel="stylesheet" href="/styles/pages/search/detail.css">

	<title>TECHTWO.</title>
</head>

<body>

	<%- include('../../partials/header', {header: header, user: user}) %>
	<%- include('../../partials/breadcrumb', {breadcrumbs : [{text : 'tên biến 1', link : 'đường dẫn 1'}, {text : 'tên biến 2', link : 'đường dẫn 2'}]}) %>

	<main class="content-container">

		<section class="title">
			<h1><%= productInfo.product_name ?? 'NaN' %></h1>
			<div class="title__rating">
				<% if (productInfo.product_rate) { %>
				<div>
					<!-- In ra số sao hiện có -->
					<% const productRateInt = Math.floor(productInfo.product_rate) %>

					<% for (let i = 0; i < productRateInt; i++) { %>
					<span class="material-symbols-outlined">grade</span>
					<% } %>

					<!-- In ra số sao lẻ -->
					<% if (productInfo.product_rate - productRateInt >= 0.5 && productInfo.product_rate - productRateInt < 1) { %>
					<span class="material-symbols-outlined">star_half</span>
					<% } else if (productInfo.product_rate!= 5 && productInfo.product_rate - productRateInt < 0.5 && productInfo.product_rate - productRateInt >= 0) { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;"> grade </span>
					<% } %>

					<!-- In ra số sao trống -->
					<% for (let i = 0; i < Math.floor(5 - productInfo.product_rate - 1); i++) {  %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;">grade</span>
					<% } %>
				</div>
				<% } %>
				<p>(<%= productInfo.product_rate ?? 'NaN' %>)</p>
				<p>168 lượt đánh giá</p>
			</div>
		</section>

		<section class="detail">
			<div class="detail--top">
				<div class="detail--left">
					<div class=" detail__slider">
						<%- include('../../components/small-slider', { productImgs: productImgs }) %>
					</div>
					<div class="detail__policy policy">
						<div>
							<div class="policy__item">
								<span class="material-symbols-outlined">build</span>
								<p>Lắp đặt miễn phí lúc giao hàng</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">verified_user</span>
								<p>Bảo hành chính hãng 3 năm, có người đến tận nhà</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">cached</span>
								<p>Hư gì đổi nấy 12 tháng tận nhà (miễn phí tháng đầu)</p>
							</div>
						</div>
						<div>
							<div class="policy__item">
								<span class="material-symbols-outlined">local_shipping</span>
								<p>Giao hàng tận nhà nhanh chóng</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">library_books</span>
								<p>Kèm theo sách hướng dẫn sử dụng</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined policy__savings">savings</span>
								<p>Phí vật tư có thể phát sinh: 500.000đ</p>
							</div>
						</div>
					</div>
				</div>

				<form class="detail--right" action="/order/information" method="post">
					<% if (variantProducts) { %>
					<div class="detail__variant variant">
						<h3>Loại sản phẩm</h3>
						<div>
							<% variantProducts.forEach(variant => { %>
							<a class = "<%= (variant.product_variant_id == product_variant_id) ? 'variant-selected':'' %>" href="/search/<%= variant.product_variant_id %>?product_name=<%= productInfo.product_name %>&category_id=<%= productInfo.category_id %>&category_name=<%= productInfo.category_name %>">
								<span class="variant__title"><%= variant.product_variant_name ?? 'null' %></span>
								<span class="variant__price"><%= variant.product_variant_price_currency ?? 'null' %>đ</span>
							</a>
							<% }) %>
						</div>
					</div>

					<div class="detail__quantity quantity">
						<h3>Số lượng</h3>
						<div class="quantity__input-group">
							<button onclick="minus(event)" type="button"><span class="material-symbols-outlined">remove</span></button>
							<input onchange="changeQuantity(event)" name="quantity" type="number" value="1" min="1" max="100" placeholder="0">
							<button onclick="add(event)" type="button"><span class="material-symbols-outlined">add</span></button>
						</div>
					</div>
					<% } %>

					<div class="detail__promo promo">
						<div class="promo__header">
							<div>
								<% variantProducts.forEach(variant => { %>
									<% if (variant.product_variant_id == product_variant_id) { %>
										<p><%= variant.discount_description ?? 'NaN' %></p>
										<h2><%= variant.product_variant_price_after_discount_currency ?? 'NaN' %>đ</h2>
										<p><del><%= variant.product_variant_price_currency ?? 'NaN' %>đ</del> giảm đến <%= variant.discount_amount ?? 'NaN' %>%</p>
									<% } %> 
								<% }) %>
					
							</div>
							<div>
								<p>Kết thúc vào</p>
								<p>23:59 ngày 31/10</p>
							</div>
						</div>
						<div class="promo__content">
							<h2>Khuyến mãi</h2>
							<p>Giá và khuyến mãi có thể sẽ kết thúc sớm hơn dự kiến.</p>
							<ol class="promo__list">
								<li>Tặng thêm gói Gắn Kết truyền hình K+ (6 Tháng)</li>
								<li>Tặng Bộ 5 ứng dụng giải trí</li>
								<li>Tặng 10 năm bảo hành không lưu ảnh</li>
								<li>Nhập mã MMSALE100 giảm ngay 1% tối đa 100.000đ khi thanh toán qua MOMO</li>
							</ol>
							<div>
								<button type="button" class="detail__add-btn">Thêm giỏ hàng</button>
								<button type="submit" class="detail__buy-btn">MUA NGAY</button>
							</div>
							<p class="promo__contact">Hoặc gọi đặt mua ngay: <span>0123456789</span> (7:30 - 22:00)</p>
						</div>
					</div>
				</form>
			</div>

			<div class="detail--bottom default-description">
				<div class="detail--left">
					<div class="detail__description description">
						<div class="description__item">
							<h2>Thông tin sản phẩm</h2>
							<%- productInfo.product_description ?? 'NaN' %>
						</div>
					</div>
				</div>

				<div class="detail--right">
					<% if (productDetails) { %>
					<div class="detail__specification specification">
						<h2>Thông số kỹ thuật</h2>
						<% productDetails.forEach(product => { %>
						<div class="specification__item">
							<p class="specification__type"><%= product.product_detail_name ?? 'NaN' %></p>
							<p class="specification__info"><%= product.product_detail_value ?? 'NaN' %></p>
						</div>
						<% }) %>
					</div>
					<% } %>
				</div>
			</div>
			<button onclick="showAll(event)" class="detail__more-btn" type="button">Xem thêm</button>
		</section>

		<section class="comments">
			<h2>Đánh giá sản phẩm</h2>
			<div class="comments__filter filter">
				<div class="filter__avg-rating">
					<p><%= productInfo.product_rate ?? 'NaN' %> trên 5</p>
					<div class="filter__stars">
						<% if (productInfo.product_rate) { %>
						<div>
							<!-- In ra số sao hiện có -->
							<% const productRateInt = Math.floor(productInfo.product_rate) %>

							<% for (let i = 0; i < productRateInt; i++) { %>
							<span class="material-symbols-outlined">grade</span>
							<% } %>

							<!-- In ra số sao lẻ -->
							<% if (productInfo.product_rate - productRateInt >= 0.5 && productInfo.product_rate - productRateInt < 1) { %>
							<span class="material-symbols-outlined">star_half</span>
							<% } else if (productInfo.product_rate!= 5 && productInfo.product_rate - productRateInt < 0.5 && productInfo.product_rate - productRateInt >= 0) { %>
							<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;"> grade </span>
							<% } %>

							<!-- In ra số sao trống -->
							<% for (let i = 0; i < Math.floor(5 - productInfo.product_rate - 1); i++) {  %>
							<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;">grade</span>
							<% } %>
						</div>
						<% } %>
					</div>
				</div>
				<div class="filter__option">
					<button onclick="chooseOption(event)" type="button">Tất cả</button>
					<button onclick="chooseOption(event)" type="button">Hình ảnh</button>
					<button onclick="chooseOption(event)" type="button">5 sao</button>
					<button onclick="chooseOption(event)" type="button">4 sao</button>
					<button onclick="chooseOption(event)" type="button">3 sao</button>
					<button onclick="chooseOption(event)" type="button">2 sao</button>
					<button onclick="chooseOption(event)" type="button">1 sao</button>
				</div>
			</div>

			<div class="comments__list">
				<% if (productFeedbacks.length) { %>
				<% productFeedbacks.forEach(feedback => { %>
				<%- include('../../components/comment', {feedback: feedback}) %>
				<% }) %>
				<div class="comments__pagination">
					<%- include('../../components/pagination') %>
				</div>
				<% } else { %>
				<img class="comment__not-found" src="/imgs/nothing-result.png" alt="">
				<h2 class="comment__not-found-noti">Không tìm thấy đánh giá nào!</h2>
				<% } %>
			</div>
		</section>

	</main>

	<% if (cateProducts) { %>
	<div class="similar-products">
		<%- include('../../components/carousel', {title: 'Sản phẩm tương tự', seemore: `category_id=${productInfo.category_id}`, products: cateProducts}) %>
	</div>
	<% } %>

	<%- include('../../components/success-modal', { action: 'Thêm vào giỏ hàng' }) %>
	<%- include('../../components/image-modal') %>
	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/search/detail.js"></script>
	<script src="/scripts/components/scrollup.js"></script>
	<script src="/scripts/components/small-slider.js"></script>
	<script src="/scripts/components/image-modal.js"></script>
	<script src="/scripts/components/success-modal.js"></script>
	<script src="/scripts/components/carousel.js"></script>

</body>

</html>