<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<link rel="stylesheet" href="/styles/pages/search/detail.css">

	<title>TECHTWO.</title>
</head>

<body>

	<%- include('../../partials/header', {header: header}) %>
	<%- include('../../partials/breadcrumb', {breadcrumbs : [{text : 'tên biến 1', link : 'đường dẫn 1'}, {text : 'tên biến 2', link : 'đường dẫn 2'}]}) %>

	<main class="content-container">
		<section class="title">
			<h1><%= productInfo.product_name ?? 'NaN' %></h1>
			<div class="title__rating">
				<% if (productInfo.product_rate) { %>
				<div>
					<!-- In ra số sao hiện có -->
					<% const productRateInt = Math.floor(productInfo.product_rate) %>

					<% for (let i = 0; i < productRateInt; i++) { %>
					<span class="material-symbols-outlined">grade</span>
					<% } %>

					<!-- In ra số sao lẻ -->
					<% if (productInfo.product_rate - productRateInt >= 0.5 && productInfo.product_rate - productRateInt < 1) { %>
					<span class="material-symbols-outlined">star_half</span>
					<% } else if (productInfo.product_rate - productRateInt < 0.5) { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;"> grade </span>
					<% } %>

					<!-- In ra số sao trống -->
					<% for (let i = 0; i < Math.floor(5 - productInfo.product_rate - 1); i++) {  %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;">grade</span>
					<% } %>
				</div>
				<% } %>
				<p>(<%= productInfo.product_rate ?? 'NaN' %>)</p>
				<p>168 lượt đánh giá</p>
			</div>
		</section>

		<section class="detail">
			<div class="detail--top">
				<div class="detail--left">
					<div class=" detail__slider">
						<%- include('../../components/small-slider', { product: productInfo }) %>
					</div>
					<div class="detail__policy policy">
						<div>
							<div class="policy__item">
								<span class="material-symbols-outlined">settings</span>
								<p>Lắp đặt miễn phí lúc giao hàng</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">settings</span>
								<p>Lắp đặt miễn phí lúc giao hàng</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">settings</span>
								<p>Lắp đặt miễn phí lúc giao hàng</p>
							</div>
						</div>
						<div>
							<div class="policy__item">
								<span class="material-symbols-outlined">settings</span>
								<p>Lắp đặt miễn phí lúc giao hàng</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">settings</span>
								<p>Lắp đặt miễn phí lúc giao hàng</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">settings</span>
								<p>Lắp đặt miễn phí lúc giao hàng</p>
							</div>
						</div>
					</div>
				</div>

				<form class="detail--right" action="#" method="post">
					<div class="detail__variant variant">
						<h3>Loại sản phẩm</h3>
						<div>
							<a href="/search/1">
								<span class="variant__title">Tivi 43 Inch</span>
								<span class="variant__price">10.990.000VND</span>
							</a>
							<a href="/search/1">
								<span class="variant__title">Tivi 43 Inch</span>
								<span class="variant__price">10.990.000VND</span>
							</a>
							<a href="/search/1">
								<span class="variant__title">Tivi 43 Inch</span>
								<span class="variant__price">10.990.000VND</span>
							</a>
						</div>
					</div>

					<div class="detail__quantity quantity">
						<h3>Số lượng</h3>
						<div class="quantity__input-group">
							<button onclick="minus(event)" type="button"><span class="material-symbols-outlined">remove</span></button>
							<input onchange="changeQuantity(event)" name="quantity" type="number" value="0" min="0" max="100" placeholder="0">
							<button onclick="add(event)" type="button"><span class="material-symbols-outlined">add</span></button>
						</div>
					</div>

					<div class="detail__promo promo">
						<div class="promo__header">
							<div>
								<p><%= productInfo.discount_description ?? 'NaN' %></p>
								<h2><%= productInfo.product_variant_price_after_discount_currency ?? 'NaN' %>đ</h2>
								<p><del><%= productInfo.product_variant_price_currency ?? 'NaN' %>đ</del> giảm đến <%= productInfo.discount_amount ?? 'NaN' %>%</p>
							</div>
							<div>
								<p>Kết thúc vào</p>
								<p>23:59 ngày 31/10</p>
							</div>
						</div>
						<div class="promo__content">
							<h2>Khuyến mãi</h2>
							<p>Giá và khuyến mãi có thể sẽ kết thúc sớm hơn dự kiến.</p>
							<ol class="promo__list">
								<li>Tặng thêm gói Gắn Kết truyền hình K+ (6 Tháng)</li>
								<li>Tặng Bộ 5 ứng dụng giải trí</li>
								<li>Tặng 10 năm bảo hành không lưu ảnh</li>
								<li>Nhập mã MMSALE100 giảm ngay 1% tối đa 100.000đ khi thanh toán qua MOMO</li>
							</ol>
							<div>
								<button type="button" class="detail__add-btn">Thêm giỏ hàng</button>
								<button type="submit" class="detail__buy-btn">MUA NGAY</button>
							</div>
							<p class="promo__contact">Hoặc gọi đặt mua ngay: <span>0123456789</span> (7:30 - 22:00)</p>
						</div>
					</div>
				</form>
			</div>

			<div class="detail--bottom default-description">
				<div class="detail--left">
					<div class="detail__description description">
						<div class="description__item">
							<h2>Thông tin sản phẩm</h2>
							<%- productInfo.product_description ?? 'NaN' %>
						</div>
					</div>
				</div>

				<div class="detail--right">
					<div class="detail__specification specification">
						<h2>Thông số kỹ thuật</h2>
						<div class="specification__item">
							<p class="specification__type">Loại tivi</p>
							<p class="specification__info">Smart Tivi QLED43 inch4K</p>
						</div>
						<div class="specification__item">
							<p class="specification__type">Hệ điều hành</p>
							<p class="specification__info">Tizen™</p>
						</div>
						<div class="specification__item">
							<p class="specification__type">Ứng dụng phổ biến</p>
							<p class="specification__info">
								Clip TVFPT PlayGalaxy Play (Fim+)MP3 ZingMyTVNetflixPOPS KidsSpotifyTrình duyệt webVieONYouTube</p>
						</div>
						<div class="specification__item">
							<p class="specification__type">Công nghệ hình ảnh</p>
							<p class="specification__info">Ambient ModeBrightness/Color DetectionChuyển động mượt Motion Xcelerator TurboGiảm độ trễ chơi game Auto Low Latency Mode (ALLM)HDR10+Quantum DotQuantum HDRSuper Ultra Wide Game View & Game BarSupreme UHD Dimming</p>
						</div>
						<div class="specification__item">
							<p class="specification__type">Điều khiển bằng giọng nói</p>
							<p class="specification__info">Điều khiển bằng giọng nói</p>
						</div>
						<div class="specification__item">
							<p class="specification__type">Công nghệ hình ảnh</p>
							<p class="specification__info">Ambient ModeBrightness/Color DetectionChuyển động mượt Motion Xcelerator TurboGiảm độ trễ chơi game Auto Low Latency Mode (ALLM)HDR10+Quantum DotQuantum HDRSuper Ultra Wide Game View & Game BarSupreme UHD Dimming</p>
						</div>
					</div>
				</div>
			</div>
			<button onclick="showAll(event)" class="detail__more-btn" type="button">Xem thêm</button>
		</section>

		<section class="comments">
			<h2>Đánh giá sản phẩm</h2>
			<div class="comments__filter filter">
				<div class="filter__avg-rating">
					<p>4.5 trên 5</p>
					<div class="filter__stars">
						<span class="material-symbols-outlined">star</span>
						<span class="material-symbols-outlined">star</span>
						<span class="material-symbols-outlined">star</span>
						<span class="material-symbols-outlined">star</span>
						<span class="material-symbols-outlined">star</span>
					</div>
				</div>
				<div class="filter__option">
					<button onclick="chooseOption(event)" type="button">Tất cả</button>
					<button onclick="chooseOption(event)" type="button">Hình ảnh</button>
					<button onclick="chooseOption(event)" type="button">5 sao</button>
					<button onclick="chooseOption(event)" type="button">4 sao</button>
					<button onclick="chooseOption(event)" type="button">3 sao</button>
					<button onclick="chooseOption(event)" type="button">2 sao</button>
					<button onclick="chooseOption(event)" type="button">1 sao</button>
				</div>
			</div>
			<div class="comments__list">
				<%- include('../../components/comment') %>
				<%- include('../../components/comment') %>
			</div>
			<div class="comments__pagination">
				<%- include('../../components/pagination') %>
			</div>
		</section>
	</main>
	<% if (!similarProducts) {} else { %>
	<div class="similar-products">
		<%- include('../../components/carousel', {title: 'Sản phẩm tương tự', seemore: `category_id=${productInfo.category_id}`, products: similarProducts}) %>
	</div>
	<% } %>

	<%- include('../../components/success-modal', { action: 'Thêm vào giỏ hàng' }) %>
	<%- include('../../components/image-modal') %>
	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/search/detail.js"></script>
	<script src="/scripts/components/scrollup.js"></script>
	<script src="/scripts/components/small-slider.js"></script>
	<script src="/scripts/components/image-modal.js"></script>
	<script src="/scripts/components/success-modal.js"></script>
	<script src="/scripts/components/carousel.js"></script>

</body>

</html>