<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/pages/search/detail.css">

	<title>TECHTWO. <%= productInfo.product_name %></title>
</head>

<body>

	<%- include('../../partials/header', { header: header, user: user }) %>
	<%- include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Chi tiết sản phẩm', link : '' }] }) %>

	<main class="content-container">

		<section class="title">
			<input type="hidden" name="product_id" value="<%= productInfo.product_id %>">
			<h1><%= productInfo.product_name ?? 'null' %></h1>
			<div class="title__rating">
				<% if (productInfo.product_rate) { %>
				<div>
					<% for (let i = 0; i < Math.floor(productInfo.product_rate); i++) { %>
					<span class="material-symbols-outlined">star</span>
					<% } %>

					<% if (productInfo.product_rate % 1 !== 0.5) { %>
					<% if (productInfo.product_rate - Math.floor(productInfo.product_rate) > 0) { %>
					<span class="material-symbols-outlined">star_half</span>
					<% } %>
					<% for (let i = 0; i < Math.floor(5 - Math.ceil(productInfo.product_rate)); i++) { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
					<% } %>
					<% } else { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
					<% } %>
				</div>
				<% } %>
				<p>(<%= productInfo.product_rate ?? 'null' %>)</p>
				<p><%= productFeedbacks.length != 0 ? productFeedbacks.length : '100' %> lượt đánh giá</p>
			</div>
		</section>

		<section class="detail">
			<div class="detail--top">
				<div class="detail--left">
					<div class=" detail__slider">
						<%- include('../../components/small-slider', { productImgs: productImgs }) %>
					</div>
					<div class="detail__policy policy">
						<div>
							<div class="policy__item">
								<span class="material-symbols-outlined">build</span>
								<p>Hỗ trợ lắp đặt miễn phí lúc giao hàng.</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">verified_user</span>
								<p>Bảo hành chính hãng 3 năm, có người đến tận nhà.</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">cached</span>
								<p>Hư gì đổi nấy 12 tháng tận nhà (miễn phí tháng đầu).</p>
							</div>
						</div>
						<div>
							<div class="policy__item">
								<span class="material-symbols-outlined">local_shipping</span>
								<p>Giao hàng tận nhà nhanh chóng.</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined">library_books</span>
								<p>Kèm theo sách hướng dẫn sử dụng.</p>
							</div>
							<div class="policy__item">
								<span class="material-symbols-outlined policy__savings">savings</span>
								<p>Phí vật tư có thể phát sinh: 500.000đ.</p>
							</div>
						</div>
					</div>
				</div>

				<form id="buy-form" class="detail--right">
					<input id="product_variant_id" type="hidden" name="product_variant_id" value="<%= product_variant_id %>">
					<% if (variantProducts) { %>
					<div class="detail__variant variant">
						<h3>Loại sản phẩm</h3>
						<div>
							<% variantProducts.forEach(variant => { %>
							<a class="<%= (variant.product_variant_id == product_variant_id) ? 'variant-selected':'' %>" href="/search/<%= variant.product_variant_id %>?category_id=<%= productInfo.category_id %>">
								<span class="variant__title"><%= variant.product_variant_name ?? 'null' %></span>
								<span class="variant__price"><%= formatFunction.toCurrency(variant.product_variant_price) ?? 'null' %></span>
							</a>
							<% }) %>
						</div>
					</div>

					<div class="detail__quantity quantity">
						<h3>Số lượng</h3>
						<div class="quantity__input-group">
							<button onclick="minus(event)" type="button"><span class="material-symbols-outlined">remove</span></button>
							<input id="quantity" onchange="changeQuantity(event)" name="quantity" type="number" value="1" min="1" max="100" placeholder="0">
							<button onclick="add(event)" type="button"><span class="material-symbols-outlined">add</span></button>
						</div>
					</div>
					<% } %>

					<% variantProducts.forEach(variant => { %>
					<% if (variant.product_variant_id == product_variant_id) { %>
					<input type="hidden" name="discount_ammount" value="<%= variant.discount_amount %>">
					<% if (variant.discount_amount) { %>
					<div class="detail__promo promo">
						<div class="promo__header">
							<div>
								<p>Mua đi bạn ơi!</p>
								<% const discountedPrice = Math.round(variant.product_variant_price - variant.product_variant_price * (variant.discount_amount / 100)) %>
								<h2><%= formatFunction.toCurrency(discountedPrice) ?? 'null' %></h2>
								<p><del><%= formatFunction.toCurrency(variant.product_variant_price) ?? 'null' %>đ</del> giảm đến <%= variant.discount_amount ?? 'null' %>%</p>
							</div>
							<div>
								<p>Kết thúc vào</p>
								<p><%= formatFunction.toDDMMYYYY(variant.discount_end_date) %></p>
							</div>
						</div>
						<div class="promo__content">
							<h2>Khuyến mãi</h2>
							<p><%= variant.discount_description %></p>
							<hr>
							<p>Giá và khuyến mãi có thể sẽ kết thúc sớm hơn dự kiến.</p>
							<ol class="promo__list">
								<li>Giao hàng nhanh chóng (tùy khu vực).</li>
								<li>Mua càng nhiều, ưu đãi càng cao.</li>
								<li>Cơ hội trúng Iphone 15 mỗi ngày, áp dụng từ ngày 30/02/2024.</li>
								<li>Chi bán online.</li>
							</ol>
							<div>
								<button type="button" class="detail__add-btn">Thêm giỏ hàng</button>
								<button type="button" class="detail__buy-btn">MUA NGAY</button>
							</div>
							<p class="promo__contact">Hoặc gọi đặt mua ngay: <span>0123456789</span> (7:30 - 22:00)</p>
						</div>
					</div>
					<% } else { %>
					<div class="detail__promo promo promo__no-discount">
						<div class="promo__header">
							<div>
								<p>Mua đi bạn ơi!</p>
								<h2><%= formatFunction.toCurrency(variant.product_variant_price) ?? 'null' %></h2>
							</div>
							<div>
							</div>
						</div>
						<div class="promo__content">
							<h2>Mua ngay, thật nhiều ưu đãi!!!</h2>
							<p>Giá và khuyến mãi có thể sẽ kết thúc sớm hơn dự kiến.</p>
							<ol class="promo__list">
								<li>Giao hàng nhanh chóng (tùy khu vực)</li>
								<li>Mua càng nhiều, ưu đãi càng cao</li>
								<li>Cơ hội trúng Iphone 15 mỗi ngày, áp dụng từ ngày 30/02/2024</li>
								<li>Chỉ bán online</li>
							</ol>
							<div>
								<button type="button" class="detail__add-btn">Thêm giỏ hàng</button>
								<button type="button" class="detail__buy-btn">MUA NGAY</button>
							</div>
							<p class="promo__contact">Hoặc gọi đặt mua ngay: <span>0123456789</span> (7:30 - 22:00)</p>
						</div>
					</div>
					<% } %>
					<% } %>
					<% }) %>
				</form>
			</div>

			<div class="detail--bottom default">
				<div class="detail--left">
					<div class="detail__description description">
						<div class="description__item">
							<h2>Thông tin sản phẩm</h2>
							<%- productInfo.product_description ?? 'null' %>
						</div>
					</div>
				</div>

				<div class="detail--right">
					<% if (productDetails) { %>
					<div class="detail__specification specification">
						<h2>Thông số kỹ thuật</h2>
						<% productDetails.forEach(product => { %>
						<div class="specification__item">
							<p class="specification__type"><%= product.product_detail_name ?? 'null' %></p>
							<p class="specification__info"><%= product.product_detail_value ?? 'null' %></p>
						</div>
						<% }) %>
					</div>
					<% } %>
				</div>
			</div>
			<button onclick="showAll(event)" class="detail__more-btn" type="button">Xem thêm</button>
		</section>

		<section class="comments">
			<h2>Đánh giá sản phẩm</h2>
			<div class="comments__filter filter">
				<div class="filter__avg-rating">
					<p><%= productInfo.product_rate ?? 'null' %> trên 5</p>
					<div class="filter__stars">
						<% for (let i = 0; i < Math.floor(productInfo.product_rate); i++) { %>
						<span class="material-symbols-outlined">star</span>
						<% } %>

						<% if (productInfo.product_rate % 1 !== 0.5) { %>
						<% if (productInfo.product_rate - Math.floor(productInfo.product_rate) > 0) { %>
						<span class="material-symbols-outlined">star_half</span>
						<% } %>
						<% for (let i = 0; i < Math.floor(5 - Math.ceil(productInfo.product_rate)); i++) { %>
						<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
						<% } %>
						<% } else { %>
						<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
						<% } %>
					</div>
				</div>
				<div class="filter__option">
					<button onclick="chooseOption(event)" type="button">Tất cả</button>
					<button onclick="chooseOption(event)" type="button">Hình ảnh</button>
					<button onclick="chooseOption(event)" type="button">5 sao</button>
					<button onclick="chooseOption(event)" type="button">4 sao</button>
					<button onclick="chooseOption(event)" type="button">3 sao</button>
					<button onclick="chooseOption(event)" type="button">2 sao</button>
					<button onclick="chooseOption(event)" type="button">1 sao</button>
				</div>
			</div>

			<div class="comments__list">
				<% if (productFeedbacks.length) { %>
				<% productFeedbacks.forEach(feedback => { %>
				<%- include('../../components/comment', { feedback: feedback, toDDMMYYYY: formatFunction.toDDMMYYYY }) %>
				<% }) %>
				<% if (productFeedbacks.length > 5) { %>
				<% } %>
				<% } else { %>
				<img class="comment__not-found" src="/imgs/nothing-result.png" alt="">
				<h2 class="comment__not-found-noti">Không tìm thấy đánh giá nào!</h2>
				<% } %>
			</div>
		</section>

	</main>

	<% if (cateProducts) { %>
	<div class="similar-products">
		<%- include('../../components/carousel', {title: 'Sản phẩm tương tự', seemore: `?category_id=${productInfo.category_id}`, products: cateProducts, toCurrency: formatFunction.toCurrency }) %>
	</div>
	<% } %>

	<% if(notCateProducts) { %>
	<div class="tip-products-wrapper new-products">
		<div class="tip-products">
			<div class="tip-products__label">
				<h2 class="tip-products__title">Sản phẩm khác</h2>
				<div class="tip-products__seemore">
					<a href="/search/results?searchKey=">Xem tất cả</a>
					<span class="material-symbols-outlined"> chevron_right </span>
				</div>
			</div>
			<div class="tip-products__content">
				<% notCateProducts.forEach(notCateProduct => { %>
				<%- include('../../components/product-card', { product: notCateProduct, toCurrency: formatFunction.toCurrency }) %>
				<% }) %>
			</div>
		</div>
	</div>
	<% } %>

	<%- include('../../components/success-modal', { action: 'Thêm vào giỏ hàng' }) %>
	<%- include('../../components/image-modal') %>
	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/search/detail.js"></script>
	<script src="/scripts/components/scrollup.js"></script>
	<script src="/scripts/components/small-slider.js"></script>
	<script src="/scripts/components/image-modal.js"></script>
	<script src="/scripts/components/success-modal.js"></script>
	<script src="/scripts/components/carousel.js"></script>
	<script src="/scripts/partials/header.js"></script>

</body>

</html>