<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/pages/search/detail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Tech Two.</title>
</head>

<body>

    <%- include('../../partials/header') %>

    <main class="content-container">
        <section class="title">
            <h1>product_data[0].product_name</h1>
            <div class="title__rating">
                <div>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                </div>
                <p>168 lượt đánh giá</p>
            </div>
        </section>

        <section class="detail">
            <div class="detail--top">
                <div class="detail--left">
                    <div class=" detail__slider">
                        <%- include('../../components/slider') %>
                    </div>
                    <div class="detail__policy policy">
                        <div>
                            <div class="policy__item">
                                <span class="material-symbols-outlined">settings</span>
                                <p>Lắp đặt miễn phí lúc giao hàng</p>
                            </div>
                            <div class="policy__item">
                                <span class="material-symbols-outlined">settings</span>
                                <p>Lắp đặt miễn phí lúc giao hàng</p>
                            </div>
                            <div class="policy__item">
                                <span class="material-symbols-outlined">settings</span>
                                <p>Lắp đặt miễn phí lúc giao hàng</p>
                            </div>
                        </div>
                        <div>
                            <div class="policy__item">
                                <span class="material-symbols-outlined">settings</span>
                                <p>Lắp đặt miễn phí lúc giao hàng</p>
                            </div>
                            <div class="policy__item">
                                <span class="material-symbols-outlined">settings</span>
                                <p>Lắp đặt miễn phí lúc giao hàng</p>
                            </div>
                            <div class="policy__item">
                                <span class="material-symbols-outlined">settings</span>
                                <p>Lắp đặt miễn phí lúc giao hàng</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detail--right">

                    <div class="detail__variant variant">
                        <h2>Loại sản phẩm</h2>
                        <div>
                            <a href="#">
                                <span class="variant__title">Tivi 43 Inch</span>
                                <span class="variant__price">10.990.000VND</span>
                            </a>
                            <a href="#">
                                <span class="variant__title">Tivi 43 Inch</span>
                                <span class="variant__price">10.990.000VND</span>
                            </a>
                            <a href="#">
                                <span class="variant__title">Tivi 43 Inch</span>
                                <span class="variant__price">10.990.000VND</span>
                            </a>
                        </div>
                    </div>
                    <div class="detail__promo promo">
                        <div class="promo__header">
                            <div>
                                <p>Online giá rẻ quá</p>
                                <h2>10.990.000 VND</h2>
                                <p><del>14.390.000 VND</del> giảm đến 23%</p>
                            </div>
                            <div>
                                <p>Kết thúc vào</p>
                                <p>23:59 ngày 31/10</p>
                            </div>
                        </div>
                        <div class="promo__content">
                            <h2>Khuyến mãi</h2>
                            <p>Giá và khuyến mãi có thể sẽ kết thúc sớm hơn dự kiến.</p>
                            <ol class="promo__list">
                                <li>Tặng thêm gói Gắn Kết truyền hình K+ (6 Tháng)</li>
                                <li>Tặng Bộ 5 ứng dụng giải trí</li>
                                <li>Tặng 10 năm bảo hành không lưu ảnh</li>
                                <li>Nhập mã MMSALE100 giảm ngay 1% tối đa 100.000đ khi thanh toán qua MOMO</li>
                            </ol>
                            <div>
                                <a class="detail__add-btn" href="#">Thêm giỏ hàng </a>
                                <a class="detail__buy-btn" href="#">MUA NGAY </a>
                            </div>
                            <p class="promo__contact">Hoặc gọi đặt mua ngay: <span>0123456789</span> (7:30 - 22:00)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail--bottom">
                <div class="detail--left">
                    <div class="detail__description description">
                        <div class="description__item">
                            <h2>Thông tin sản phẩm</h2>
                            <!-- <p>Smart Tivi QLED 4K 43 inch Samsung QA43Q65A được mang lên trên mình thiết kế không viền 3 cạnh loại bỏ cảm giác hình ảnh bị giới hạn, chân tivi có dạng hình chữ L đẹp mắt và vững vàng.</p>
                            <p>Tivi Samsung 43 inch phù hợp cho các không gian vừa như: phòng ngủ, phòng khách,...</p>
                            <img src="/imgs/infor1.jpg" alt=""> -->
                            product_data[0].product_description
                        </div>
                        <!-- <div class="description__item">
                            <h2>Thông tin sản phẩm</h2>
                            <p>Smart Tivi QLED 4K 43 inch Samsung QA43Q65A được mang lên trên mình thiết kế không viền 3 cạnh loại bỏ cảm giác hình ảnh bị giới hạn, chân tivi có dạng hình chữ L đẹp mắt và vững vàng.</p>
                            <p>Tivi Samsung 43 inch phù hợp cho các không gian vừa như: phòng ngủ, phòng khách,...</p>
                            <img src="/imgs/infor1.jpg" alt="">
                        </div> -->
                    </div>
                </div>

                <div class="detail--right">
                    <div class="detail__specification specification">
                        <h2>Thông số kỹ thuật</h2>
                        <div class="specification__item">
                            <p class="specification__type">Loại tivi</p>
                            <p class="specification__info">Smart Tivi QLED43 inch4K</p>
                        </div>
                        <div class="specification__item">
                            <p class="specification__type">Hệ điều hành</p>
                            <p class="specification__info">Tizen™</p>
                        </div>
                        <div class="specification__item">
                            <p class="specification__type">Ứng dụng phổ biến</p>
                            <p class="specification__info">
                                Clip TVFPT PlayGalaxy Play (Fim+)MP3 ZingMyTVNetflixPOPS KidsSpotifyTrình duyệt webVieONYouTube</p>
                        </div>
                        <div class="specification__item">
                            <p class="specification__type">Công nghệ hình ảnh</p>
                            <p class="specification__info">Ambient ModeBrightness/Color DetectionChuyển động mượt Motion Xcelerator TurboGiảm độ trễ chơi game Auto Low Latency Mode (ALLM)HDR10+Quantum DotQuantum HDRSuper Ultra Wide Game View & Game BarSupreme UHD Dimming</p>
                        </div>
                        <div class="specification__item">
                            <p class="specification__type">Điều khiển bằng giọng nói</p>
                            <p class="specification__info">Điều khiển bằng giọng nói</p>
                        </div>
                        <div class="specification__item">
                            <p class="specification__type">Công nghệ hình ảnh</p>
                            <p class="specification__info">Ambient ModeBrightness/Color DetectionChuyển động mượt Motion Xcelerator TurboGiảm độ trễ chơi game Auto Low Latency Mode (ALLM)HDR10+Quantum DotQuantum HDRSuper Ultra Wide Game View & Game BarSupreme UHD Dimming</p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="detail__more-btn" type="button">Xem thêm</button>
        </section>

        <section class="comments">
            <h1>Đánh giá sản phẩm</h1>
            <div class="comments__list">
                <%- include('../../components/comment') %>
                <%- include('../../components/comment') %>
            </div>
            <div class="comments__pagination">
                <%- include('../../components/pagination') %>
            </div>
        </section>
    </main>

    <%- include('../../components/scrollup') %>
    <%- include('../../partials/footer') %>

    <script src="/scripts/components/scrollup.js"></script>
    <script src="/scripts/components/slider.js"></script>

</body>

</html>