<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,1,0" />
    <title>TECHTWO.</title>
    <link rel="stylesheet" href="/styles/pages/notification/account-update.css" />
</head>

<body>

    <%- include('../../partials/header') %>

    <main class="nofi-container">
        <aside class="aside-wrapper">
            <div class="aside-wrapper__aside-info">
                <img class="aside-wrapper__aside-avatar" src="/imgs/avatar.png" alt="avatar" />
                <div class="aside-wrapper__aside-title">
                    <p>Thông báo</p>
                </div>
            </div>
            <hr />
            <div class="aside-wrapper__aside-section">
                <p class="btn-update">Cập nhật tài khoản</p>
                <p class="btn-promo">Thông tin khuyến mãi</p>
            </div>
        </aside>

        <section class="nofi__main">
            <button class="btn--outlined pri mark" type="submit">Đánh dấu tất cả là đã đọc</button>
            <div class="nofi--disable">
                <div class="noti__button-update--disable">
                    <p class="btn-update--disable">Cập nhật tài khoản</p>
                    <hr />
                </div>
                <div class="noti__button-promo--disable">
                    <p class="btn-promo--disable">Thông tin khuyến mãi</p>
                    <hr />
                </div>
            </div>
            <div class="btn-button--disable">
                <p>Đánh dấu tất cả là đã đọc (5)</p>
            </div>
            <%- include('../../components/noti-item-account') %>
            <%- include('../../components/noti-item-account') %>
            <%- include('../../components/noti-item-account') %>
            <%- include('../../components/noti-item-account') %>
        </section>
    </main>

        <%- include('../../components/scrollup') %>
    <%- include('../../partials/footer') %>

    <script src="/scripts/components/scrollup.js"></script>
    <script src="/scripts/pages/notification/accountUpdate.js"></script>

</body>

</html>