<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#2a7ee4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="IE104.O12_Nhom2" />
    <meta
      name="description"
      content="TECHTWO thông báo về việc cập nhật thông tin tài khoản của bạn ở đây, hãy kiểm tra thường xuyên nhé."
    />
    <link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
    <link
      rel="stylesheet"
      href="/styles/pages/notification/account-update.css"
    />

    <title>TECHTWO.</title>
  </head>

  <body>
    <%- include('../../partials/header', { header: header }) %> <%-
    include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Thông báo',
    link : '' }, { text : 'Cập nhật tài khoản', link : '' }] }) %>

    <main class="nofi-container">
      <aside class="aside-wrapper">
        <div class="aside-wrapper__aside-info">
          <img
            class="aside-wrapper__aside-avatar"
            src="/imgs/user_avt_img/<%= (user.user.user_avt_img) ? user.user.user_avt_img : 'default.png' %>"
            alt="avatar"
          />
          <div class="aside-wrapper__aside-title">
            <p>Thông báo</p>
          </div>
        </div>
        <hr />
        <div class="aside-wrapper__aside-section">
          <p class="btn-update">Cập nhật đơn hàng</p>
          <p class="btn-promo">Thông tin khuyến mãi</p>
        </div>
      </aside>

      <section class="nofi__main">
        <div class="nofi--disable">
          <div class="noti__button-update--disable">
            <a href="#" class="btn-update--disable">Cập nhật đơn hàng</a>
            <hr />
          </div>
          <div class="noti__button-promo--disable">
            <a href="/notification/promotion" class="btn-promo--disable"
              >Thông tin khuyến mãi</a
            >
            <hr />
          </div>
        </div>
        <div class="btn-mark-all-read">
          <span>Đánh dấu tất cả là đã đọc (5)</span>
        </div>
        <%- include('../../components/noti-item-account') %> <%-
        include('../../components/noti-item-account') %> <%-
        include('../../components/noti-item-account') %> <%-
        include('../../components/noti-item-account') %>
      </section>
    </main>

    <%- include('../../components/scrollup') %> <%-
    include('../../partials/footer') %> <%- include('../../partials/app-bar') %>

    <script src="/scripts/components/scrollup.js"></script>
    <script src="/scripts/pages/notification/accountUpdate.js"></script>
  </body>
</html>
