<!DOCTYPE html>
<html lang="vi-VN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->

	<link rel="stylesheet" href="/styles/pages/account/changePassword.css">

	<title>TECHTWO.</title>
</head>

<body>

	<%- include('../../partials/header', { header: header }) %>
	<%- include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Trang cá nhân', link : '/account/information' }, { text : 'Đổi mật khẩu', link : '/account/change-password' }] }) %>

	<main class="account-container">
		<%- include("../../components/sidebar_account") %>

		<section class="purchase__main" id="info">
			<div class="purchase__main__item">
				<div class="purchase-item">
					<div class="purchase-item--top">
						<div class="purchase-item__info">
							<h4>Đổi mật khẩu</h4>

						</div>
						<!-- <p class="purchase-item__status"> <a href="#edit_info">Sửa</a></p> -->
					</div>
					<hr />
					<form id="form" autocomplete="off" class="sign-in-form" method="post">
						<div class="purchase-item__main">
							<div class="purchase-item__element">
								<div class="purchase-item__product-detail">
									<h5 id="purchase-item__product-name">Mật khẩu: </h5><span>**** **** ****</span>
									<hr />
								</div>
							</div>
							<div class="change_Password">
								<div class="reset__input-wrap">
									<input id="oldPassword" type="password" name="oldPassword" class="reset__input-field" autocomplete="off" />
									<label>Mật khẩu cũ<span style="color:red">*</span></label>
									<span id="toggleoldPassword" class="reset__toggle-password"><span class="material-symbols-outlined" id="eye-open">
											visibility</span>
									</span>
									<div class="reset__error"></div>
								</div>

								<div class="reset__input-wrap">
									<input id="Password" type="password" name="Password" class="reset__input-field" autocomplete="off" />
									<label>Mật khẩu mới<span style="color:red">*</span></label>
									<span id="togglePassword" class="reset__toggle-password"><span class="material-symbols-outlined" id="eye-open">
											visibility</span>
									</span>
									<div class="reset__error"></div>
								</div>

								<div class="reset__input-wrap">
									<input id="confirmPassword" type="password" name="confirmPassword" class="reset__input-field" autocomplete="off" />
									<label>Xác nhận mật khẩu mới<span style="color:red">*</span></label>
									<span id="toggleconfirmPassword" class="reset__toggle-password"><span class="material-symbols-outlined" id="eye-open">
											visibility</span>
									</span>
									<div class="reset__error"></div>
								</div>
								<!-- <input type="submit" value="Xác nhận" class="btn btn--filled pri reset__sign-btn" /> -->
								<!-- <button class="btn btn--outlined pri btn-cancel" type="button">Hủy</button> -->
								<div class="popup__button">
									<!-- <a href="/account/changePassword"><button
											class="btn btn--outlined pri btn-cancel"
											type="button">Hủy
										</button>
										</a> -->
									<button class="btn btn--filled pri" type="submit">Xác nhận</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		<div class="popup" id="logout-popup">
			<div class="logout-form">
				<span class="close-btn" onclick="closeLogoutPopup()">&times;</span>
				<h1>Đăng xuất</h1>
				<p>Bạn có chắc chắn muốn đăng xuất không?</p>
				<img src="/imgs/information/bye.png" alt="Hình ảnh đăng xuất">
				<button id="confirm-button">Đăng xuất</button>
				<button id="cancel-button">Hủy</button>
			</div>
		</div>

	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/account/changePassword.js"></script>
	<script src="/scripts/partials/header.js"></script>

</body>

</html>