<!DOCTYPE html>
<html lang="vi-VN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->

	<link rel="stylesheet" href="/styles/pages/account/changePassword.css">

	<title>TECHTWO.</title>
</head>

<body>

    <%- include('../../partials/header') %>
    <%- include('../../partials/nav-tree', { nav_tree__data: [
        { text: 'Trang chủ', link: "/" },
        { text: 'Tài khoản', link: "/search/results" },
        { text: 'Đổi mật khẩu', link: "/changePassword" }
    ] }) %>

	<main class="account-container">
		<aside class="account-aside" id="sidebar">
			<a href="#" class="avatar">
				<span class="image-container">
					<img src="/imgs/avatar.png" alt="avatar" />
				</span>
				<span class="user_name">
					<h5>HuongVi</h5>
				</span>
			</a>

			<ul class="side-menu top">
				<li class="active">
					<a href="#profile" id="info-link">
						<span class="material-symbols-outlined">
							perm_contact_calendar
						</span>
						<span class="text">Thông tin cá nhân</span>
					</a>
				</li>

				<li>
					<a href="#order-history">
						<span class="material-symbols-outlined">
							shopping_bag
						</span>
						<span class="text">Lịch sử đơn mua</span>
					</a>
				</li>
				<li>
					<a href="#maintaince">
						<span class="material-symbols-outlined">
							build
						</span>
						<span class="text">Yêu cầu bảo hành</span>
					</a>
				</li>
			</ul>
			<ul class="side-menu">
				<li>
					<a href="#change-password">
						<span class="material-symbols-outlined">
							settings
						</span>
						<span class="text">Đổi mật khẩu</span>
					</a>
				</li>
				<li>
					<a href="#logout" class="logout">
						<span class="material-symbols-outlined">
							logout
						</span>
						<span class="text" id="logout-btn">Đăng xuất</span>
					</a>
				</li>
			</ul>
		</aside>


        <section class="purchase__main" id="info">
            <div class="purchase__main__item">
                <div class="purchase-item">
                    <div class="purchase-item--top">
                        <div class="purchase-item__info">
                            <h4>Đổi mật khẩu</h4>
                            
                        </div>
                        <p class="purchase-item__status"> <a href="#edit_info">Sửa</a></p>
                    </div>
                    <hr />
                    <div class="purchase-item__main">
                        <!-- <div class="purchase-item__element">
                                <div class="purchase-item__product-detail">
                                    <h5 id="purchase-item__product-name">Mật khẩu: </h5><span>**** **** ****</span>
                                    <hr />
                                </div>
                        </div> -->
                        <div class="change_Password">
                            <div class="reset__input-wrap">
                                <input id="oldPassword" type="password" name="oldPassword" class="reset__input-field" autocomplete="off" />
                                <label>Mật khẩu cũ<span style="color:red">*</span></label>
                                <span id="togglePassword" class="reset__toggle-password"><span class="material-symbols-outlined" id="eye-open">
                                        visibility</span>
                                </span>
                                <div class="reset__error"></div>
                            </div>

                            <div class="reset__input-wrap">
                                <input id="Password" type="password" name="Password" class="reset__input-field" autocomplete="off" />
                                <label>Mật khẩu mới<span style="color:red">*</span></label>
                                <span id="togglePassword" class="reset__toggle-password"><span class="material-symbols-outlined" id="eye-open">
                                        visibility</span>
                                </span>
                                <div class="reset__error"></div>
                            </div>
    
                            <div class="reset__input-wrap">
                                <input id="ConfirmPassword" type="password" name="Password" class="reset__input-field" autocomplete="off" />
                                <label>Xác nhận mật khẩu mới<span style="color:red">*</span></label>
                                <span id="toggleConfirmPassword" class="reset__toggle-password"><span class="material-symbols-outlined" id="eye-open">
                                        visibility</span>
                                </span>
                                <div class="reset__error"></div>
                            </div>
                        </div>
                        
                    </div>
                
                </div>
            </div>
        </section>
        <div class="popup" id="logout-popup">
            <div class="logout-form">
              <span class="close-btn" onclick="closeLogoutPopup()">&times;</span>
              <h1>Đăng xuất</h1>
              <p>Bạn có chắc chắn muốn đăng xuất không?</p>
              <img src="/imgs/information/bye.png" alt="Hình ảnh đăng xuất">
              <button id="confirm-button">Đăng xuất</button>
              <button id="cancel-button">Hủy</button>
            </div>
          </div>

	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/account/changePassword.js"></script>

</body>

</html>