<!DOCTYPE html>
<html lang="vi-VN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />

  <link rel="stylesheet" href="/styles/pages/account/information.css">

  <title>TECHTWO.</title>
</head>

<body>

  <%- include('../../partials/header') %>
  <%- include('../../partials/breadcrumb',{breadcrumbs : [{text : 'Trang cá nhân', link : '#'}, {text : 'Thông tin cá nhân', link : 'http://127.0.0.1:3000/account/information'}]}) %>

  <main class="account-container">
    <%- include("../../components/sidebar_account") %>

    <section class="purchase__main" id="info">
      <div class="purchase__main__item">
        <div class="purchase-item">
          <div class="purchase-item--top">
            <div class="purchase-item__info">
              <h3>Thông tin cá nhân</h3>

            </div>
            <p class="purchase-item__status"> <a href="/account/edit-information">Sửa</a></p>
          </div>
          <div class="purchase-item__main">
            <div class="purchase-item__element">
              <div class="purchase-item__product-detail">
                <h5 id="purchase-item__product-name">Tên người dùng: </h5><span>Vi Thị Hương</span>
                <hr />

                <h5 id="purchase-item__product-name">Ngày sinh: </h5><span>24/10/2023</span>
                <hr />

                <h5 id="purchase-item__product-name">Giới tính: </h5><span>Nữ</span>
                <hr />

                <h5 id="purchase-item__product-name">Email: </h5><span>vithihuong384@gmail.com</span>
                <hr />

                <h5 id="purchase-item__product-name">Số điện thoại: </h5><span>0352060384</span>
                <hr />

                <h5 id="purchase-item__product-name">Địa chỉ: </h5><span>An Bình, Dĩ An, Bình Dương</span>
                <hr />

              </div>
            </div>

          </div>

        </div>
      </div>
    </section>



  </main>

  <%- include('../../components/scrollup') %>
  <%- include('../../partials/footer') %>
  <%- include('../../partials/app-bar') %>

  <script src="/scripts/pages/account/information.js"></script>

</body>

</html>