<!DOCTYPE html>
<html lang="vi-VN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />

	<link rel="stylesheet" href="/styles/pages/account/information.css">

	<title>TECHTWO.</title>
</head>

<body>

	<%- include('../../partials/header', { header: header }) %>
	<%- include('../../partials/breadcrumb', {breadcrumbs : [{ text : 'Trang cá nhân', link : '/account/information' }, { text : 'Thông tin cá nhân', link : '/account/information' }] }) %>

	<main class="account-container">
		<%- include("../../components/sidebar_account") %>

		<section class="purchase__main" id="info">
			<div class="purchase__main__item">
				<div class="purchase-item">
					<div class="purchase-item--top">
						<div class="purchase-item__info">
							<h3>Thông tin cá nhân</h3>
						</div>
						<h3 class="purchase-item__status"> <a href="/account/edit-information">Sửa</a></h3>
					</div>
					<div class="purchase-item__main">
						<div class="purchase-item__element">
							<div class="purchase-item__product-detail">
								<h5 id="purchase-item__product-name">Tên người dùng: </h5>
								<span><%= user.user.user_name ?? 'Nguyễn Văn A' %></span>
								<hr />

								<h5 id="purchase-item__product-name">Ngày sinh: </h5>
								<span><%= formatFunction.toDDMMYYYY(new Date(user.user.user_birth)) ?? '01/01/01' %></span>
								<hr />

								<h5 id="purchase-item__product-name">Giới tính: </h5>
								<span><%= user.user.user_sex ?? 'Không rõ' %></span>
								<hr />

								<h5 id="purchase-item__product-name">Email: </h5>
								<span><%= user.user.user_email ?? 'example@mail.com' %></span>
								<hr />

								<h5 id="purchase-item__product-name">Số điện thoại: </h5>
								<span><%= user.user.user_phone ?? '0123456789' %></span>
								<hr />

								<h5 id="purchase-item__product-name">Địa chỉ: </h5>
								<span><%= user.user.user_address ?? 'Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh' %></span>
								<hr />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/account/information.js"></script>

</body>

</html>