<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="IE104.O12_Nhom2">
	<meta name="description" content="TECHTWO.">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/pages/account/purchase-history.css">

	<title>TECHTWO. Lịch sử đơn mua</title>
</head>

<body>

	<%- include('../../partials/header', { header: header }) %>
	<%- include('../../partials/breadcrumb',{ breadcrumbs : [{ text : 'Trang cá nhân', link : '/account/information' }, { text : 'Lịch sử đơn mua', link : '/account/purchase' }] }) %>

	<main class="account-container">
		<%- include("../../components/sidebar_account") %>
		<section class="purchase__main">
			<div class="purchase__status-container">
				<nav class="purchase__status">
					<a href="/account/purchase" id="purchase__status-all">Tất cả</a>
					<a href="/account/purchase?order_status=Chờ thanh toán" id="purchase__status-payment">Chờ thanh toán</a>
					<a href="/account/purchase?order_status=Đang giao hàng" id="purchase__status-deliver">Đang giao hàng</a>
					<a href="/account/purchase?order_status=Hoàn thành" id="purchase__status-finish">Hoàn thành</a>
					<a href="/account/purchase?order_status=Đã hủy" id="purchase__status-cancel">Đã hủy</a>
				</nav>
			</div>

			<div class="purchase__main__item">
				<% if (purchaseHistory && purchaseHistory.length > 0) { %>
				<% for(let i = 0; i < purchaseHistory.length; i++) { %>
				<%- include('../../components/purchase-item', { purchaseHistory: purchaseHistory[i], toCurrency: formatFunction.toCurrency, index: i }) %>
				<% } %>
				<% } else { %>
				<div class="purchase-empty">
					<img src="/imgs/empty_order.png" alt="empty_order">
					<p>Chưa có đơn hàng</p>
				</div>
				<% } %>
			</div>
		</section>
	</main>

	<%- include('../../components/success-modal', { action: 'Hủy' }) %>
	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/components/scrollup.js"></script>
	<script src="/scripts/pages/account/purchaseHistory.js"></script>
	<script src="/scripts/components/sidebar_account.js"></script>
	<script src="/scripts/partials/header.js"></script>

</body>

</html>