<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/pages/account/purchase-detail.css">

	<title>TECHTWO.</title>
</head>

<body>

	<%- include('../../partials/header', { header: header }) %>
	<%- include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Trang cá nhân', link : '/account/information' }, { text : 'Lịch sử đơn mua', link : '/account/purchase' }, { text : 'Chi tiết đơn mua', link : '' }] }) %>

	<main class="account-container">
		<%- include("../../components/sidebar_account") %>

		<section class="purchase-detail__main">
			<div class="purchase-detail--top">
				<div class="purchase-detail__info">
					<h4>Chi tiết đơn hàng:</h4>
					<p id="purchase-detail__id">#DH00<%= purchaseHistory.order_id ?? 'NaN' %></p>
				</div>
				<div class="purchase-detail__status-container">
					<span class="material-symbols-outlined">
						<% if (purchaseHistory.order_status === 'Đã hủy') { %>
						cancel
						<% } else if (purchaseHistory.order_status === 'Chờ thanh toán') { %>
						payment
						<% } else if (purchaseHistory.order_status === 'Hoàn thành') { %>
						done_all
						<% } else if (purchaseHistory.order_status === 'Đang giao hàng') { %>
						local_shipping
						<% } %>
					</span>
					<p class="purchase-detail__status"><%= purchaseHistory.order_status ?? 'NaN' %></p>
				</div>
			</div>
			<div class="purchase-detail__date-time">
				<p>Đặt lúc:</p>
				<p id="purchase-detail__time"><%= formatFunction.toHHMM(new Date(purchaseHistory.order_date)) ?? 'NaN' %></p>
				<p id="purchase-detail__date"><%= formatFunction.toDDMMYYYY(new Date(purchaseHistory.order_date)) ?? 'NaN' %></p>
			</div>
			<div class="purchase-detail__order-info">
				<div class="purchase-detail__order-info__user">
					<h5>
						<span class="material-symbols-outlined">pin_drop</span>
						<span>THÔNG TIN NHẬN HÀNG</span>
					</h5>
					<div class="purchase-detail__order-info__user-detail">
						<span class="order-info__label">Người nhận:</span>
						<p id="user-detail__name"><%= purchaseHistory.order_name ?? 'NaN' %></p>
					</div>
					<div class="purchase-detail__order-info__user-detail">
						<span class="order-info__label">Số điện thoại:</span>
						<p id="user-detail__phone"><%= purchaseHistory.order_phone ?? 'NaN' %></p>
					</div>
					<div class="purchase-detail__order-info__user-detail">
						<span class="order-info__label">Địa chỉ:</span>
						<p id="user-detail__address"><%= purchaseHistory.order_delivery_address ?? 'NaN' %></p>
					</div>
				</div>
				<div class="purchase-detail__order-info__payment">
					<h5>
						<span class="material-symbols-outlined">credit_card</span>
						<span>HÌNH THỨC THANH TOÁN</span>
					</h5>
					<p id="order-info__payment-detail"><%= purchaseHistory.paying_method_name ?? 'NaN'%></p>
				</div>
			</div>
			<div class="purchase-detail__bill">
				<h5>
					<span class="material-symbols-outlined">local_mall</span>
					<span>THÔNG TIN SẢN PHẨM</span>
				</h5>
				<% let totalAmount = 0; %>
				<% purchaseHistory.order_details.forEach(purchaseDetail => { %>
				<%- include('../../components/purchase-detail-item', { purchaseDetail: purchaseDetail, toCurrency: formatFunction.toCurrency }) %>
				<% totalAmount += parseFloat(purchaseDetail.order_detail_price_after); %>
				<% }) %>
				<div class="purchase-detail__order-price">
					<p>
						<span>Thành tiền:</span>
						<span id="total-amount"><%= formatFunction.toCurrency(totalAmount) %></span>
					</p>
					<p class="purchase-detail__final">
						<span>Tổng tiền:</span>
						<span id="paid-amount"><%= formatFunction.toCurrency(totalAmount) %></span>
					</p>
				</div>
				<div class="purchase-detail__button">
					<% if (purchaseHistory.order_status === 'Chờ thanh toán') { %>
					<!-- nút hủy khi status là "Chờ thanh toán" -->
					<div class="btn btn--outlined pri cancel">Hủy</div>
					<div class="purchase-cancel__popup">
						<div class="purchase-cancel__popup__main">
							<div class="purchase-cancel__popup__content-main">
								<div class="purchase-cancel__popup__content-title">
									<div class="purchase-cancel__popup--top">
										<p class="purchase-cancel__popup__title">Lý do hủy</p>
										<div class="close-btn">
											<span class="material-symbols-outlined">cancel</span>
										</div>
									</div>
								</div>
								<div class="popup__note">
									<span class="material-symbols-outlined">info</span>
									<span>Nếu bạn xác nhận hủy, toàn bộ đơn hàng sẽ được hủy. Hãy chọn lý do hủy đặt hàng phù hợp nhất với bạn nhé!</span>
								</div>
								<form action="" id="cancel_popup">
									<input type="hidden" name="order_id" value="<%= purchaseHistory.order_id %>">
									<div class="cancel-reasons">
										<div class="cancel-reason__item">
											<input type="radio" class="cancel-reason__input" value="1" id="update" name="selector">
											<label class="cancel-reason__label" for="update">Tôi muốn cập nhật địa chỉ/sđt nhận hàng.</label>
										</div>
										<div class="cancel-reason__item">
											<input type="radio" class="cancel-reason__input" value="2" id="change" name="selector">
											<label class="cancel-reason__label" for="change">Tôi muốn thay đổi sản phẩm.</label>
										</div>
										<div class="cancel-reason__item">
											<input type="radio" class="cancel-reason__input" value="3" id="cancel-reason__input-payment" name="selector">
											<label class="cancel-reason__label" for="cancel-reason__input-payment">Thủ tục thanh toán rắc rối.</label>
										</div>
										<div class="cancel-reason__item">
											<input type="radio" class="cancel-reason__input" value="4" id="cancel-reason__input-price" name="selector">
											<label class="cancel-reason__label" for="cancel-reason__input-price">Tôi tìm thấy nơi khác giá tốt hơn.</label>
										</div>
										<div class="cancel-reason__item">
											<input type="radio" class="cancel-reason__input" value="5" id="cancel-reason__input-need" name="selector">
											<label class="cancel-reason__label" for="cancel-reason__input-need">Tôi không có nhu cầu mua nữa.</label>
										</div>
										<div class="cancel-reason__item">
											<input type="radio" class="cancel-reason__input" value="6" id="cancel-reason__input-no-reason" name="selector">
											<label class="cancel-reason__label" for="cancel-reason__input-no-reason">Tôi không tìm thấy lý do hủy phù hợp.</label>
										</div>
									</div>
									<div class="button">
										<div class="btn btn--outlined pri cancel-purchase">Trở lại</div>
										<button type="submit" class="btn btn--filled pri">Xác nhận</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- nút thanh toán khi status là "Chờ thanh toán" -->
					<a href="/order/payment?paying_method_id=<%= purchaseHistory.paying_method_id %>&order_id=<%= purchaseHistory.order_id %>">
						<div class="btn btn--filled pri">Thanh toán</div>
					</a>
					<!-- end -->
					<% } %>
					<% if (purchaseHistory.order_status === 'Đang giao hàng') { %>
					<!-- nút đánh giá khi status là "Đang giao hàng"-->
					<a>
						<div class="btn btn--filled pri disable">Đánh giá</div>
					</a>
					<!-- end -->
					<% } %>
					<% if (purchaseHistory.order_status === 'Hoàn thành') { %>
					<!-- nút đánh giá khi status là "Hoàn thành"-->
					<a href="/account/feedback?order_id=<%= purchaseHistory.order_id %>">
						<div class="btn btn--filled pri">Đánh giá</div>
					</a>
					<!-- end -->
					<% } %>
				</div>
			</div>
		</section>
	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/account/purchaseDetail.js"></script>
	<script src="/scripts/partials/header.js"></script>

</body>

</html>