<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="IE104.O12_Nhom2">
	<meta name="description" content="Quyền lợi của khách hàng luôn được TECHTWO đảm bảo kể cả bạn là sắp, đang hoặc đã là khách hàng của chúng tôi.">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/pages/account/warranty-claim.css">

	<title>TECHTWO. Yêu cầu bảo hành</title>
</head>

<body>
	<%- include('../../partials/header', { header: header }) %>
	<%- include('../../partials/breadcrumb', { breadcrumbs: [ { text: 'Trang cá nhân', link: '/account/information' }, { text: 'Yêu cầu bảo hành', link:'' } ] }) %>

	<main class="account-container">
		<%- include("../../components/sidebar_account") %>
		<section class="warranty__main">
			<div class="purchase__main__item">
				<% purchaseHistory.forEach(order => { %>
				<% if (order.order_status == 'Hoàn thành') { %>
				<%- include('../../components/warranty-item', { order: order }) %>
				<% } %>
				<% }) %>
			</div>
		</section>
	</main>

	<%- include('../../components/success-modal', { action: 'Gửi yêu cầu bảo hành' }) %>
	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/account/warranty-claim.js"></script>
	<script src="/scripts/components/sidebar_account.js"></script>
	<script src="/scripts/partials/header.js"></script>

</body>

</html>