<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<link rel="stylesheet" href="/styles/pages/site/category-mobile.css">

	<title>TECHTWO.</title>
</head>

<body>
	<%- include('../../partials/header', { header: header }) %>

	<main class="category-container">
		<h2>Danh mục sản phẩm</h2>
		<% header.cates.forEach(cate => { %>
		<div class="category__item">
			<img src="/imgs/categories/<%= cate.category_img %>" alt="<%= cate.category_name %>">
			<p><%= cate.category_name %> (<%= cate.category_count %>)</p>
		</div>
		<% }) %>
	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

</body>

</html>