<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="IE104.O12_Nhom2">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/admin/pages/cate_admin.css">

	<title>TECHTWO.Admin - Danh mục sản phẩm</title>
</head>

<body>
	<div class="grid-container">

		<!-- Sidebar -->
		<%- include('../partials/sidebar_admin') %>

		<!-- Header -->
		<%- include('../partials/header_admin', title) %>

		<!-- Main -->
		<main class="main-container">

			<!-- Page Header -->
			<div class="main-header">
				<div class="row">
					<div>
						<h3 class="main-header__title">Danh mục sản phẩm <span class="main-header__badge"><%= data.totalRow %></span></h3>
						<div class="export-import">
							<a class="admin-a text-body" href="#">
								<span class="material-symbols-rounded"> download </span> Xuất file
							</a>
							<a class="admin-a text-body" href="#">
								<span class="material-symbols-rounded"> upload_file </span> Nhập file
							</a>
						</div>
					</div>
					<!-- End Col -->

					<div>
						<a class="admin-a btn-admin btn-primary" href="/admin/categories_admin/add">
							<span class="material-symbols-rounded"> add </span>
							<p>Thêm</p>
						</a>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Row -->

				<!-- Nav -->
				<ul class="main__nav main-header__tabs nav" id="pageHeaderTab" role="tablist">
					<li class="nav__item active">
						<a class="admin-a nav__link active" href="#">Tất cả (26)</a>
					</li>
					<li class="nav__item">
						<a class="admin-a nav__link" href="#" tabindex="-1">Hiện (10)</a>
					</li>
					<li class="admin-a nav__item">
						<a class="admin-a nav__link" href="#" tabindex="-1">Ẩn (12)</a>
					</li>
				</ul>
				<!-- End Nav -->
			</div>
			<!-- End Nav Scroller -->
			<!-- End Page Header -->

			<div class="main__filter">
				<div>
					<div class="filter__btn-group">
						<a class="admin-a btn-admin btn-outline-danger" href="#">
							<span class="material-symbols-rounded"> delete_forever </span>
							<p>Xóa</p>
						</a>
						<a class="admin-a btn-admin btn-white" href="#">
							<span class="material-symbols-rounded"> visibility </span>
							<p>Hiện</p>
						</a>
						<a class="admin-a btn-admin btn-white" href="#">
							<span class="material-symbols-rounded"> visibility_off </span>
							<p>Ẩn</p>
						</a>
					</div>
				</div>

				<div class="main__search search">
					<form action="" method="get" role="form">
						<button type="submit" class="search__button">
							<span class="material-symbols-rounded"> search </span>
						</button>
						<input type="search" class="search__term" name="searchKey" id="search" placeholder="Enter" value="<%= (data.searchKey) ? data.searchKey: '' %>">
					</form>
				</div>
			</div>

			<div class="main__table-display">
				<table class="main__table-responsive table">
					<thead>
						<tr class="table__heading">
							<th><input type="checkbox" class="checkbox"></th>
							<th>#ID <span class="material-symbols-rounded"> arrow_drop_down </span>
							</th>
							<th>Tên danh mục <span class="material-symbols-rounded"> arrow_drop_down </span>
							</th>
							<th>Số sản phẩm <span class="material-symbols-rounded"> arrow_drop_down </span>
							</th>
							<th>Doanh thu <span class="material-symbols-rounded"> arrow_drop_down </span>
							</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody class="table__user-info">
						<% if (!data.categories[0]) { %>
						<tr>
							<td class="empty" colspan="9">Không có kết quả trả về</td>
						</tr>
						<% } else { %>
						<% data.categories.forEach(function(category) { %>
						<tr class="employeeDetails">
							<td><input type="checkbox" class="checkbox"></td>
							<td> <%= category.category_id ?? 'null' %> </td>
							<td>
								<img src="/imgs/categories/<%= category.category_img ?? 'default.png' %>" alt="<%= category.category_name ?? 'null' %>">
								<%= category.category_name ?? 'null' %>
							</td>
							<td> <%= category.product_count ?? 'null' %> </td>
							<td> <%= formatFunction.toCurrency(Number(category.revenue)) %></td>
							<td class="action">
								<ul class="action__dropdown dropdown">
									<li>
										<span class="material-symbols-rounded"> more_vert </span>
										<ul class="dropdown__list">
											<li> <a class="admin-a" href="#">Sửa</a> </li>
											<li> <a class="admin-a" href="#">Ẩn</a> </li>
											<li> <a class="admin-a" href="#">Xóa</a> </li>
										</ul>
									</li>
								</ul>
							</td>
						</tr>
						<% }) %>
						<% } %>
					</tbody>
				</table>
				<%- include('../components/pagination', {pagination : data}) %>
			</div>

		</main>

	</div>
	<!-- End Main -->

	<!-- Scripts -->
	<script src="/scripts/admin/cate_admin.js"></script>
	<script src="/scripts/admin/index_admin.js"></script>

</body>

</html>