<section class="wrapper-carousel">
    <div class="carousel__label">
        <h2 class="carousel__title"><%=title%></h2>
        <div class="carousel__label-seemore">
            <a href="/search/result">Xem tất cả</a>
            <span class="material-symbols-outlined">
                chevron_right
            </span>
        </div>
    </div>
        <span id="left" class="arrow left material-symbols-outlined">
            chevron_left
        </span>

    <div class="carousel__list">
        <ul class="carousel">
            <% products.forEach(function(product) { %>
                <li class="carousel__card">
                    <a class="carousel__card-main" href="/search/<%= product.product_id %>">
                    <% if (product.discount_amount) { %>
                        <div class="carousel__card--badge">-<%= product.discount_amount%>%</div>
                    <% } %>
                    <div class="carousel__card--top">
                        <div class="carousel__card--img">
                            <img src="/imgs/product_image/P<%= product.product_id %>/<%= product.product_avt_img %>" alt="<%= product.product_name %>" draggable="false">
                        </div>
                        <div class="carousel__card-details">
                            <span class="carousel__card-catagory"><%= product.category_name %></span>
                            <div class="carousel__card-rate">
                                <span class="material-symbols-outlined">grade</span>
                                <span class="material-symbols-outlined">grade</span>
                                <span class="material-symbols-outlined">grade</span>
                                <span class="material-symbols-outlined">grade</span>
                                <span class="material-symbols-outlined">grade</span>
                            </div>
                            <h4><%= product.product_name %></h4>
                            <p><%= product.discount_description %></p>
                        </div>
                    </div>
                    
                    <div class="carousel__card-bottom-details">
                        <div class="carousel__card-price">
                            <% if (product.discount_amount) { %>
                                <small><%= product.product_variant_price_currency %>đ</small><%= product.product_variant_price_after_discount_currency %>đ
                            <% } else { %> 
                                <%= product.product_variant_price_currency %>đ
                            <% } %>
                            
                        </div>
                    </div>
                </a>
                </li>
            <% }) %>     
        </ul>
    </div>
        <span id="right" class="arrow right material-symbols-outlined">
            chevron_right
    </div>
</section>