<section class="wrapper-carousel">
	<div class="carousel__label">
		<h2 class="carousel__title"><%= title %></h2>
		<div class="carousel__label-seemore">
			<a href="/search/result?<%= seemore %>">Xem tất cả</a>
			<span class="material-symbols-outlined"> chevron_right </span>
		</div>
	</div>
	<span id="left" class="arrow left material-symbols-outlined"> chevron_left </span>

	<div class="carousel__list">
		<ul class="carousel">
			<% products.forEach(function(product) { %>
			<li class="carousel__card">
				<a class="carousel__card-main" href="/search/<%= product.product_variant_id %>?product_name=<%= product.product_name %>&category_id=<%= product.category_id %>&category_name=<%= product.category_name %>">
					<% if (product.discount_amount) { %>
					<div class="carousel__card--badge">-<%= product.discount_amount %>%</div>
					<% } %>
					<div class="carousel__card--top">
						<div class="carousel__card--img">
							<img src="/imgs/product_image/P<%= product.product_id %>/<%= product.product_avt_img %>" alt="<%= product.product_name %>" draggable="false">
						</div>
						<div class="carousel__card-details">
							<span class="carousel__card-catagory"><%= product.category_name %></span>
							<% if (product.product_rate) { %>
							<div class="carousel__card-rate">
								<!-- In ra số sao hiện có -->
								<% const productRateInt = Math.floor(product.product_rate) %>

								<% for (let i = 0; i < productRateInt; i++) { %>
								<span class="material-symbols-outlined">grade</span>
								<% } %>

								<!-- In ra số sao lẻ -->
								<% if (product.product_rate - productRateInt >= 0.5 && product.product_rate - productRateInt < 1) { %>
								<span class="material-symbols-outlined">star_half</span>
								<% } else if (product.product_rate != 5 && product.product_rate - productRateInt < 0.5 && product.product_rate - productRateInt >= 0) { %>
								<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;"> grade </span>
								<% } %>

								<!-- In ra số sao trống -->
								<% for (let i = 0; i < Math.floor(5 - product.product_rate - 1); i++) {  %>
								<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;">grade</span>
								<% } %>

								<p>(<%= product.product_rate %>)</p>
							</div>
							<% } %>

							<h4>
								<% if (product.product_name.length > 40) { %>
								<%= product.product_name.substring(0, 40) + '...' %>
								<% } else { %>
								<%= product.product_name ?? 'NaN' %>
								<% } %>
							</h4>
							<p><%= product.discount_description %></p>
						</div>
					</div>

					<div class="carousel__card-bottom-details">
						<div class="carousel__card-price">
							<% if (product.discount_amount) { %>
							<%= product.product_variant_price_after_discount_currency %>đ<small><%= product.product_variant_price_currency %>đ</small>
							<% } else { %>
							<%= product.product_variant_price_currency %>đ
							<% } %>
						</div>
					</div>
				</a>
			</li>
			<% }) %>
		</ul>
	</div>
	<span id="right" class="arrow right material-symbols-outlined">
		chevron_right
		</div>
</section>