<div class="cart-dropdown__block">
	<a href="/search/<%= cart.product_variant_id %>?product_name=<%= cart.product_name %>&category_id=<%= cart.category_id %>&category_name=<%= cart.category_name %>" class="cart-dropdown__main">
		<img class="cart-dropdown__img" src="/imgs/product_image/P<%= cart.product_id %>/<%= cart.product_avt_img %>" alt="<%= cart.product_name ?? 'NaN' %>">
		<div class="cart-dropdown__content">
			<span><%= cart.product_name ?? 'NaN' %></span>
			<div class="cart-dropdown__price">
				<% if (cart.discount_amount){ %>
				<% const discountedPrice = Math.round(cart.product_variant_price - cart.product_variant_price * (cart.discount_amount / 100)) %>
				<%= toCurrency(discountedPrice) ?? 'NaN'%><small><%= toCurrency(cart.product_variant_price) ?? 'NaN' %></small>
				<% } else { %>
				<%= toCurrency(cart.product_variant_price) ?? 'NaN'%>
				<% } %>

			</div>
		</div>
	</a>
</div>