<a href="/search/results?category_id=<%= cate.category_id %>" class="cate__item">
	<img src="/imgs/categories/<%= cate.category_img %>" alt="<%= cate.category_name ?? 'NaN' %>">
	<h4><%= cate.category_name ?? 'NaN' %></h4>
	<p><%= cate.category_count ?? 'NaN' %> sản phẩm</p>
</a>