<div class="comment-container">
	<div class="comment__info">
		<img class="comment__avatar" src="/imgs/user_avt_img/<%= feedback.user_avt_img ?? 'default.png' %>" alt="avatar">
		<div>
			<p class="comment__user-name"><%= feedback.user_name ?? 'Nguyễn Văn A' %></p>
			<button class="comment__variant">Phân loại: <%= feedback.product_variant_name ?? 'null' %></button>
			<div class="comment__stars">
				<% if (feedback.feedback_rate) { %>
				<div>
					<% for (let i = 0; i < Math.floor(feedback.feedback_rate); i++) { %>
					<span class="material-symbols-outlined">star</span>
					<% } %>

					<% if (feedback.feedback_rate % 1 !== 0.5) { %>
					<% if (feedback.feedback_rate - Math.floor(feedback.feedback_rate) > 0) { %>
					<span class="material-symbols-outlined">star_half</span>
					<% } %>
					<% for (let i = 0; i < Math.floor(5 - Math.ceil(feedback.feedback_rate)); i++) { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
					<% } %>
					<% } else { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0">star</span>
					<% } %>
				</div>
				<p>(<%= feedback.feedback_rate %>)</p>
				<% } %>
			</div>
			<p class="comment__time"><%= toDDMMYYYY(feedback.feedback_date) ?? 'null' %></p>
		</div>
	</div>
	<div class="comment__content">
		<p><%= feedback.feedback_content ?? 'null' %></p>
		<% if (feedback.feedback_img_name) { %>
		<div class="comment__pictures">
			<img src="/imgs/feedbacks/default.jpg" alt="comment-image">
			<img src="/imgs/feedbacks/default.jpg" alt="comment-image">
			<img src="/imgs/feedbacks/default.jpg" alt="comment-image">
		</div>
		<% } %>

	</div>
</div>