<div class="noti-item__block <%= (noti.user_notification_is_read == 1) ? 'read':'' %>">
	<img src="/imgs/notifications/sale.png" alt="img" class="noti-item__img">
	<div class="noti-item__main">
		<input type="hidden" name="noti <%= index %>" value="<%=noti.notification_id%>">
		<div>
			<p class="noti-item__title"><%= noti.notification_title %></p>
			<p class="noti-item__sub-title"><%= noti.notification_subtitle %></p>
		</div>
		<div class="noti-item__info">
			<div class="noti-item__date-time">
				<p class="noti-item__time"><%= toHHMM(new Date(noti.notification_date)) ?? 'NaN' %></p>
				<p class="noti-item__date"><%= toDDMMYYYY(new Date(noti.notification_date)) ?? 'NaN' %></p>
			</div>
			<div class="noti-item__button">
				<button class="btn btn--outlined pri popup-btn">Xem chi tiết</button>
				<a href="/search/results?discount=true"><button class="btn btn--filled pri btn-use">Dùng ngay</button>
			</div></a>
			<div class="popup">
				<div class="popup__main">
					<div class="popup__content-main">
						<div class="popup__content-title">
							<div class="popup--top">
								<p class="popup__title"><%= noti.notification_title %></p>
								<div class="close-btn">
									<span class="material-symbols-outlined">cancel</span>
								</div>
							</div>
							<div class="noti-item__date-time">
								<p class="noti-item__time"><%= toHHMM(new Date(noti.notification_date)) ?? 'NaN' %></p>
								<p class="noti-item__date"><%= toDDMMYYYY(new Date(noti.notification_date)) ?? 'NaN' %></p>
							</div>
							<p class="popup__sub-title">Khuyến mãi cực hấp dẫn cuối tuần. Deal ngon giá tốt, chốt liền tay cùng TECHTWO thôi bạn ơi!!!!</p>
						</div>
						<img src="/imgs/notifications/banner.png" alt="banner-1" class="popup__img">
						<div class="popup__content">
							<p>- Giá sốc cuối tuần, TECHTWO sale hàng loạt các sản phẩm Gia dụng với chỉ từ 189.000đ.</p>
							<p>- Áp dụng đặt hàng online.</p>
							<p>- 1 số điện thoại mua được 1-2 sản phẩm/1 địa chỉ giao hàng.</p>
							<p>- Không áp dụng kèm khuyến mãi khác.</p>
							<p>- Khuyến mãi có thể kết thúc sớm nếu hết suất.</p>
						</div>
						<img src="/imgs/notifications/banner.png" alt="banner-2" class="popup__img">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>