<div class="product-card">
	<a class="product__card-main" href="/search/<%= product.product_variant_id %>?product_name=<%= product.product_name %>&category_id=<%= product.category_id %>&category_name=<%= product.category_name %>">
		<div>
			<div class="badge">-15%</div>
			<div class="product-tumb">
				<img src="/imgs/product_image/P<%= product.product_id %>/<%= product.product_avt_img %>" alt="<%= product.product_name ?? 'NaN' %>">
			</div>
			<div class="product-details">
				<span class="product-catagory"><%= product.category_name ?? 'NaN'%></span>
				<% if (product.product_rate) { %>
				<div class="product-rate">
					<!-- In ra số sao hiện có -->
					<% const productRateInt = Math.floor(product.product_rate) %>

					<% for (let i = 0; i < productRateInt; i++) { %>
					<span class="material-symbols-outlined">grade</span>
					<% } %>

					<!-- In ra số sao lẻ -->
					<% if (product.product_rate - productRateInt >= 0.5 && product.product_rate - productRateInt < 1) { %>
					<span class="material-symbols-outlined">star_half</span>
					<% } else if (product.product_rate - productRateInt < 0.5) { %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;"> grade </span>
					<% } %>

					<!-- In ra số sao trống -->
					<% for (let i = 0; i < Math.floor(5 - product.product_rate - 1); i++) {  %>
					<span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;">grade</span>
					<% } %>

					<p>(<%= product.product_rate %>)</p>
				</div>
				<% } %>
				<h4>
					<% if (product.product_name.length > 40) { %>
					<%= product.product_name.substring(0, 40) + '...' %>
					<% } else { %>
					<%= product.product_name ?? 'NaN' %>
					<% } %>
				</h4>
				<p><%= product.discount_description %></p>
			</div>
		</div>

		<div class="product-bottom-details">
			<div class="product-price"><%= product.product_variant_price_after_discount ?? 'NaN' %>đ<small><%= product.product_variant_price_currency ?? 'NaN' %>đ</small></div>
		</div>
	</a>

</div>