<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/pages/order/cart.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Tech Two.</title>
</head>

<body>

    <%- include('../../partials/header') %>

    <main class="cart">
        <section class="cart__title">
            <div>
                <input onclick="checkAll(event)" type="checkbox" class="checkbox" id="check-all">
                <p class="mobile-display">Tất cả</p>
            </div>
            <h4 class="lg-col mobile-hidden">Sản phẩm</h4>
            <h4 class="sm-col mobile-hidden">Loại</h4>
            <h4 class="sm-col mobile-hidden">Đơn giá</h4>
            <h4 class="sm-col mobile-hidden">Số lượng</h4>
            <h4 class="sm-col mobile-hidden">Số tiền</h4>
            <h4 class="sm-col mobile-hidden">Thao tác</h4>
            <button onclick="deleteAllItem(event)" type="button" class="mobile-display" id="del-mb-btn">Xóa</button>
        </section>

        <section class="cart__content">
            <form id="cart-form" method="post">
                <div class="cart__empty">
                    <img src="/imgs/cart/empty-cart.png" alt="">
                    <p>Bạn chưa thêm sản phẩm vào giỏ hàng!</p>
                </div>
                <%- include('../../components/cart-product') %>
                <%- include('../../components/cart-product') %>
                <%- include('../../components/cart-product') %>
            </form>
        </section>

        <section class="cart__footer">
            <div>
                <div class="cart__feature mobile-hidden">
                    <button onclick="checkAllBtn(event)" type="button" class="cart__checkall-btn mobile-hidden">Chọn tất cả</button>
                    <button onclick="deleteAllItem(event)" type="button" class="cart__del-btn mobile-hidden" id="del-btn">Xóa</button>
                </div>
                <div class="cart__order">
                    <div class="cart__total-price">
                        <p>Tổng tiền: <del>100.000.000đ</del></p>
                        <h2>100.000.000đ</h2>
                    </div>
                    <input onclick="cartSubmit(event)" type="submit" form="cart-form" value="Đặt hàng">
                </div>
            </div>
            <p class="cart__order-confirm">Bấm "Đặt hàng" đồng nghĩa với việc bạn đã đồng ý với <a href="#">chính sách đặt hàng.</a> của TECHTWO.</p>
        </section>
    </main>

    <%- include('../../components/scrollup') %>
    <%- include('../../partials/footer') %>

    <script src="/scripts/components/scrollup.js"></script>
    <script src="/scripts/components/cartProduct.js"></script>
    <script src="/scripts/pages/order/cart.js"></script>
</body>

</html>