<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="IE104.O12_Nhom2">
	<meta name="description" content="Thanh toán bằng thẻ tín dụng cũng là một ý tưởng không tồi khi mua hàng ở TECHTWO.">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/pages/order/credit.css">

	<title>TECHTWO. Thanh toán thẻ tín dụng</title>
</head>

<body>

	<%- include('../../partials/header', { header: header }) %>
	<%- include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Đặt hàng', link : '' }, { text : 'Thanh toán', link : '' }] }) %>

	<main class="transaction-container">
		<div class="transaction-box">
			<div class="success">
				<div class="success-logo">
					<span class="material-symbols-outlined">sweep</span>
				</div>
				<h3 class="success-text"><strong>ĐẶT HÀNG THÀNH CÔNG</strong></h3>
			</div>
			<div class="inner-box">
				<div class="thanks">
					Cảm ơn <strong>
						<% if (user.user.user_sex === 'Nam') { %>
						Anh
						<% } else { %>
						Chị
						<% } %>
						<%=purchase.order_name%> </strong> đã cho TECHTWO cơ hội được phục vụ.
				</div>
				<div class="info-order">
					<div class="info-order__header">
						<div class="info-order__header--left">
							<p><strong>ĐƠN HÀNG:</strong></p>
							<p id="trans__id">#DH00<%=purchase.order_id%></p>
						</div>
					</div>
					<div class="info-order__bill">
						<span>- <strong>Người nhận hàng: </strong><span id="purchase-info"><%=purchase.order_name%></span></span>
						<span>- <strong>Giao đến: </strong><span id="purchase-address"><%=purchase.order_delivery_address%></span></span>
						<span>- <strong>Tổng tiền: </strong><span id="purchase-amount">
								<% if (purchase.order_details.length > 0) { %>
								<% let totalAmount = 0; %>
								<% purchase.order_details.forEach(detail => { %>
								<% totalAmount += detail.order_detail_price_after; %>
								<% }); %>
								<%= formatFunction.toCurrency(totalAmount) %>
								<% } %>
							</span></span>
					</div>
				</div>

				<div class="purchase-status">Đơn hàng chưa được thanh toán</div>

				<div class="pay_box">
					<div class="pay_bank_frame">
						<div class="pay_title">
							Thẻ Tín Dụng/ Ghi Nợ
						</div>
						<div class="pay_bank">
							<img src="/imgs/transaction/visa.png" alt="Visa">
						</div>
						<div class="pay_bank">
							<img src="/imgs/transaction/master.png" alt="Master Card">
						</div>
						<div class="pay_bank">
							<img src="/imgs/transaction/jcb.png" alt="JCB">
						</div>
					</div>
					<div class="input_frame">
						<div class="input_left">
							<div class="input_box--top">
								<div class="input_title">Số thẻ<span style="color:red">*</span></div>
								<div class="input-wrap">
									<input id="NumberCard" type="text" placeholder="1234 5678 9101 2345" name="NumberCard" class="input-field" autocomplete="off" onclick="normalCardImage()" />
									<div class="error"></div>
								</div>
							</div>
							<div class="input_box--bot">
								<div class="input_box--mini">
									<div class="input_title">Tháng/Năm hết hạn<span style="color:red">*</span></div>
									<div class="input-wrap">
										<input id="EndDate" type="text" placeholder="MM/YY" name="EndDate" class="input-field" autocomplete="off" onclick="normalCardImage()" />
										<div class="error"></div>
									</div>
								</div>
								<div class="input_box--mini">
									<div class="input_title">CSC<span style="color:red">*</span></div>
									<div class="input-wrap">
										<input id="CSC" type="text" placeholder="123" name="CSC" class="input-field" autocomplete="off" onclick="updateCardImage()" />
										<div class="error"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="input_right">
							<img src="/imgs/transaction/card_vi.png" alt="Font of Visa Card">
						</div>
					</div>
					<button type="submit" id="btn-submit" class="btn btn--filled pri">Xác nhận</button>
					<button type="submit" id="btn-more" class="btn btn--outlined pri">Thanh toán sau</button>
				</div>
			</div>
	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/pages/order/credit.js"></script>
	<script src="/scripts/partials/header.js"></script>

</body>

</html>