<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="ico" href="/imgs/ico-logo-blue.png" />
	<link rel="stylesheet" href="/styles/pages/order/information.css">

	<title>TECHTWO.</title>
</head>

<body>

	<%- include('../../partials/header') %>
	<%- include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Đặt hàng', link : '' }, { text : 'Điền thông tin đặt phòng', link : '' }] }) %>

	<main class="order-container">
		<section class="order-product">
			<div class="order-product__title mobile-hidden">
				<h4 class="order-product__col-big">Sản phẩm</h4>
				<h4 class="order-product__col">Loại</h4>
				<h4 class="order-product__col">Đơn giá</h4>
				<h4 class="order-product__col">Số lượng</h4>
				<h4 class="order-product__col">Số tiền</h4>
			</div>

			<div class="order-product__content">
				<%- include('../../components/order-info-product') %>
				<%- include('../../components/order-info-product') %>
				<%- include('../../components/order-info-product') %>
			</div>
		</section>

		<form onsubmit="submitOrderForm(event)" action="" method="post" id="order-form">
			<section class="order-detail">
				<div class="order-detail__customer">
					<h2>Thông tin người nhận hàng</h2>
					<div>
						<div class="order-detail__input">
							<input onchange="validateName(event)" type="text" placeholder="Họ và tên" required>
							<p class="error">Họ và tên chỉ bao gồm chữ hoa, chữ thường và dấu cách!</p>
						</div>
						<div class="order-detail__input">
							<input onchange="validatePhoneNumber(event)" type="text" placeholder="Số điện thoại" required>
							<p class="error">Số điện thoại không hợp lệ!</p>
						</div>
					</div>
				</div>

				<div class="order-detail__location location">
					<h2>Địa chỉ nhận hàng</h2>
					<div class="location__input-group">
						<input onchange="changeProvince(event)" class="location__select" type="text" list="province" placeholder="Tỉnh/Thành phố" required>
						<datalist id="province">
							<option value="Hồ Chí Minh">
							<option value="Vũng Tàu">
						</datalist>

						<input onchange="changeDistrict(event)" class="location__select" type="text" list="district" placeholder="Quận/huyện" required>
						<datalist id="district"> </datalist>
						<input class="location__select" type="text" list="ward" placeholder="Phường/xã" required>
						<datalist id="ward"> </datalist>
						<input type="text" placeholder="Địa chỉ" required>
					</div>
				</div>

				<div class="order-detail__pay-method pay-method">
					<h2>Phương thức thanh toán</h2>
					<div class="pay-method__choose">
						<div>
							<input type="radio" id="radio1" name="pay-method" value="momo" required>
							<label for="radio1">Thanh toán qua MOMO</label>
						</div>
						<div>
							<input type="radio" id="radio2" name="pay-method" value="atm" required>
							<label for="radio2">Thanh toán qua thẻ ATM</label>
						</div>
						<div>
							<input type="radio" id="radio3" name="pay-method" value="credit" required>
							<label for="radio3">Thanh toán qua thẻ VISA</label>
						</div>
					</div>
				</div>
			</section>
		</form>

		<section class="order-pay">
			<div class="order-pay__price">
				<div class="order-pay__price-container">
					<div>
						<p>Tổng tiền hàng</p>
						<p><del>100.000đ</del> 95.000đ</p>
					</div>
					<div>
						<p>Phí vận chuyển</p>
						<p>95.000đ</p>
					</div>
					<div>
						<p>Tổng tiền hàng</p>
						<p class="order-pay__total">95.000đ</p>
					</div>
				</div>
			</div>

			<div class="order-pay__submit">
				<p>Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <br><a href="/privacy-policy">Điều khoản đặt hàng của TECHTWO.</a></p>
				<button id="order-form-submit" type="submit" form="order-form">Đặt hàng</button>
			</div>
		</section>

	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/components/scrollup.js"></script>
	<script src="/scripts/pages/order/information.js"></script>

</body>

</html>