<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#2a7ee4">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
	<link rel="stylesheet" href="/styles/pages/order/momo.css">

	<title>TECHTWO.</title>
</head>

<body>

	<%- include('../../partials/header', { header: header, user: user }) %>
	<%- include('../../partials/breadcrumb', { breadcrumbs : [{ text : 'Đặt hàng', link : '' }, { text : 'Thanh toán', link : '' }] }) %>

	<main class="momo-container">
		<div class="momo_left-frame">
			<div class="momo_left-box">
				<div class="momo-box">
					<div class="momo-header">
						<img src="/imgs/transaction/momo.png" alt="momo">
						<h3 class="header-text"><strong>THANH TOÁN BẰNG MOMO</strong></h3>
					</div>
					<div class="inner-box">
						<div class="info-order">
							<div class="info-order__header">
								<div class="info-order__header--left">
									<p><strong>ĐƠN HÀNG:</strong></p>
									<p id="trans__id">#DH00<%=purchase.order_id%></p>
								</div>
							</div>
							<div class="info-order__bill">
								<span>- <strong>Người đặt hàng: </strong><span id="purchase-info"><%=purchase.order_name%></span></span>
								<span>- <strong>Tổng tiền: </strong><span id="purchase-amount">
										<% if (purchase.order_details.length > 0) { %>
										<% let totalAmount = 0; %>
										<% purchase.order_details.forEach(detail => { %>
										<% totalAmount += detail.order_detail_price_after; %>
										<% }); %>
										<%= formatFunction.toCurrency(totalAmount) %>
										<% } %>
									</span></span>
							</div>
						</div>

						<div class="purchase-status">Đơn hàng chưa được thanh toán</div>
					</div>
				</div>
			</div>
			<div class="momo_left-cancel">Hủy bỏ</div>
		</div>

		<div class="momo-qr">
			<h4>Quét mã QR để thanh toán</h4>
			<div class="scanning-box">
				<img src="/imgs/transaction/momo_qr.png" alt="momo_qr">
				<div class="image-container"></div>
				<div class="border">
				</div>
			</div>
			<div class="qr-instruct">
				<div class="qr-instruct-1">
					<span class="material-symbols-outlined">qr_code_2</span>
					<div>Sử dụng App MoMo hoặc ứng dụng</div>
				</div>
				<div class="qr-instruct-1">
					<div>camera hỗ trợ QR code để quét mã</div>
				</div>
			</div>
			<!-- <div class="qr-help">
                <div>Gặp khó khăn khi thanh toán?</div>
                <div class="help-instruction">
                    Xem Hướng dẫn
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                <p>Modal content here...</p>
            </div>
        </div> -->

			<!-- Modify the "Xem Hướng dẫn" div to call the showPopup function -->
			<!-- <div class="help-instruction" onclick="showPopup()">
            Xem Hướng dẫn
        </div> -->
			<div class="momo_left-cancel_ip">Hủy bỏ</div>
	</main>

	<%- include('../../components/scrollup') %>
	<%- include('../../partials/footer') %>
	<%- include('../../partials/app-bar') %>

	<script src="/scripts/partials/header.js"></script>

	<!-- <script>
        // Function to show the popup
        function showPopup() {
            // Get the modal element
            var modal = document.getElementById("myModal");

            // Display the modal
            modal.style.display = "block";

            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        }
    </script> -->
	<script src="/scripts/pages/order/momo.js"></script>
	<script src="/scripts/partials/header.js"></script>

</body>

</html>